
    <footer class="footer-1 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6"><img alt="Logo" class="logo" src="/img/logo-light.png"></div>
          <div class="col-md-3 col-sm-6">
            <div class="widget">
              <h6 class="title">About Us</h6>
              <hr>
              <ul>
                <li>
                  <a href="{{ site.github.url }}/">Homepage</a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/blog">Blog</a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/offering">Offering</a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/process">Innovation Process</a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/working">Working with us</a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/dna">DNA</a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="widget">
              <h6 class="title">Latest Posts</h6>
              <hr>
              <ul>
                {% for post in site.posts %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="widget">
              <h6 class="title">Get in touch</h6>
              <hr>
              <ul>
                  <li>
                    <i class="setup-icon-message2"></i>
                    <a href="mailto:info@innovationswitch.com">info@innovationswitch.com</a><br />
                    <small>We reply in 24 hrs</small>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <span class="sub">&copy; Copyright 2016 - Innovation Switch</span>
          </div>
          <div class="col-sm-6 text-right">
            <ul class="list-inline social-list">
              <li>
                <a href="https://twitter.com/SwitchInnvtn" target="_blank"><i class="ti-twitter-alt"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/switch-innovation?trk=biz-companies-cym" target="_blank"><i class="ti-linkedin"></i></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UChw4OuIalUORrtgU-G97c0g%20" target="_blank"><i class="ti-youtube"></i></a>
              </li>

            </ul>
          </div>
        </div>
      </div><!--end of container-->
      <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
  </div>

  <script src="{{ site.github.url }}/js/jquery.min.js"></script>
  <script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
  <script src="{{ site.github.url }}/js/flickr.js"></script>
  <script src="{{ site.github.url }}/js/flexslider.min.js"></script>
  <script src="{{ site.github.url }}/js/masonry.min.js"></script>
  <script src="{{ site.github.url }}/js/twitterfetcher.min.js"></script>
  <script src="{{ site.github.url }}/js/smooth-scroll.min.js"></script>
  <script src="{{ site.github.url }}/js/parallax.js"></script>
  <script src="{{ site.github.url }}/js/scripts.js"></script>
</body>
</html>