<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Foundry Multi-purpose HTML Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" href="{{ site.github.url }}/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ site.github.url }}/css/themify-icons.css" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ site.github.url }}/css/flexslider.css" />
  <link rel="stylesheet" type="text/css" media="all" href="{{ site.github.url }}/css/style.css" />
  <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600">
</head>
<body class="scroll-assist">
  <div class="nav-container">
    <a id="top"></a>
    <nav class="bg-dark">
      <div class="nav-bar">
        <div class="module left">
          <a href="{{ site.github.url }}/"><img alt="Innovation Switch" class="logo logo-light" src="{{ site.github.url }}/img/logo-light.png"></a>
        </div>
        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <i class="ti-menu"></i>
        </div>
        <div class="module-group right">
          <div class="module left">
            <ul class="menu">
              <li {% if page.url == '/' %} class="active" {% endif %}><a href="{{ site.github.url }}/">Home</a></li>
              <li {% if page.url == '/blog/' %} class="active" {% endif %}><a href="{{ site.github.url }}/blog">Blog</a></li>
              <li {% if page.url == '/offering/' %} class="active" {% endif %}><a href="{{ site.github.url }}/offering">Offering</a></li>
              <li {% if page.url == '/process/' %} class="active" {% endif %}><a href="{{ site.github.url }}/process">Innovation Process</a></li>
              <li {% if page.url == '/working/' %} class="active" {% endif %}><a href="{{ site.github.url }}/working">Working with us</a></li>
              <li {% if page.url == '/dna/' %} class="active" {% endif %}><a href="{{ site.github.url }}/dna">DNA</a></li>
              <li {% if page.url == '/contact/' %} class="active" {% endif %}><a href="{{ site.github.url }}/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>