<div class="nav-container">
  <a id="top"></a>
  <nav class="bg-dark">
    <div class="nav-bar">
      <div class="module left">
        <a href="/">
          <img alt="Switch" class="logo logo-light" src="{% asset_path logo-light.png %}">
          <img alt="Switch" class="logo logo-dark" src="{% asset_path logo-dark.png %}">
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li {% if page.url == '/' %} class="active" {% endif %}><a href="/">Home</a></li>
            <li {% if page.url == '/blog/' %} class="active" {% endif %}><a href="/blog">Blog</a></li>
            <li class="has-dropdown {% if page.url contains '/offerings/' %} active {% endif %}">
              <a href="/offerings">Offering</a>
              <ul>
                {% assign sorted_offerings = site.offerings | sort:"order" %}
                {% for offering in sorted_offerings %}
                  <li {% if page.url == {{offering.url}} %} class="active" {% endif %}>
                    <a href="{{ offering.url }}">{{ offering.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li {% if page.url == '/team/' %} class="active" {% endif %}><a href="/team">Meet the team</a></li>
            <li {% if page.url == '/contact/' %} class="active" {% endif %}><a href="/contact">Working with us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
