<section class="pt32">
  <div class="container">
    <div class="row">
      {% assign sorted_offerings = site.offerings | sort:"order" %}
      {% for offering in sorted_offerings %}

          <div class="col-lg-3 col-sm-6">
            <a href="{{ offering.url }}">
            <div class="feature feature-1 bordered">
              <div class="text-center">
                <i class="ti-{{ offering.icon }} icon"></i>
                <h5 class="uppercase">{{ offering.name }}</h5>
              </div>
              <p>
                {{ offering.short }}
              </p>
            </div>
            </a>
          </div>

      {% endfor %}
    </div>
  </div>
</section>
