<section class="image-bg parallax overlay" style="margin:0;padding:60px 0 20px 0">
  <div class="background-image-holder">
    <img alt="image" class="background-image" src="{% asset_path home-2-5.jpg %}" />
  </div>
  <div class="container">
    <div class="row mb40 mb-xs-24">
      <div class="col-sm-12 text-center">
        <h3 class="mb8">Subscribe for a monthly roundup of the best bits.</h3>
        <p>Don't worry, we hate spam too - that's why we only send out monthly emails.</p>
      </div>
    </div>
    <div class="row mb80 mb-xs-24">
      <div class="col-sm-6 col-sm-offset-3">
        <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="text" name="email" class="mb0 transparent validate-email validate-required  signup-email-field" placeholder="Email Address" />
          <button type="submit" class="mb0">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
