a .bordered {
  &:hover {
    border-color: white;
    background-color: #f8f8f8;
  }

  p {
    color: #666;
  }
}

nav.bg-dark ul.menu li.active ul li {
  opacity:0.7;

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.social-list a {
  opacity: 0.75 !important;
}

ul, ol {
  list-style-position: inside;
}

// ************************************************************
// Tags cloud
// ************************************************************

.tagscloud {
  a {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: .5vw;
    white-space: nowrap;

    // &:hover {
    //   text-decoration: underline;
    // }
  }

  .set-1 {
    font-size: 1em;
  }

  .set-2 {
    font-size: 1.1em;
  }

  .set-3 {
    font-size: 1.3em;
  }

  .set-4 {
    font-size: 1.6em;
  }

  .set-5 {
    font-size: 1.9em;
  }
}
