a .bordered {
  &:hover {
    border-color: white;
    background-color: #f8f8f8;
  }

  p {
    color: #666;
  }
}

nav.bg-dark ul.menu li.active ul li {
  opacity:0.7;

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.social-list a {
  opacity: 0.75 !important;
}
