---
layout: default
---
<section class="pb0">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{page.name}}</h2>
        <h4>{{page.short}}</h4>
      </div>
    </div>
    <div class="row pt32">
      {{content}}
    </div>
  </div>
</section>
<section class="pb0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h3>Other offerings to help your company innovate.</h3>
      </div>
    </div>
  </div>
</section>
{% include offerings.html %}
